<% @shelters.each do |shelter| %>
  <h3>Shelter Name:<%= shelter.name %></h3>
<% end %>
<p>Shelters with pending applications:<br>
  <% @shelters_pending.each do |shelter| %>
    <%= shelter.name %><br>
  <% end %>
</p>
